* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* Main elements */

body {
    background-color: #F9F7F2;
}

a {
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}

a:hover {
    color: #e9aacd;
    text-decoration: none;
}

h3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.p-centered {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    transition-duration: 0.6s;
    width: 150px;
    height: 50px;
}

button:hover {
    background-color: #F9F7F2;
    color: black;
    font-weight: 700;
}
                                                                                
 /* Master grid layout */                                                                               
                                                                            
.wrapper {
    display: grid;
    grid-template: auto repeat(5, 1fr) auto / 1fr auto 1fr;
    grid-template-areas: 
        "al nv ar"
        "al he ar"
        "al sh ar"
        "al cs ar"
        "al sy ar"
        "al ct ar"
        "al fr ar"    
    ;
    gap: 10vh;
}

.aside-left {
    grid-area: al;
    background-color: #F9F7F2;
}

nav {
    background-color: #F9F7F2;
    height: fit-content;
    position: relative;
    grid-area: nv;
}

nav img {
    width: 20vw;
}

.home {
    background-color: #F9F7F2;
    height:fit-content
    grid-area: he;
}

.shop {
    background-color: #F9F7F2;
    width: 80vw;
    height: 100vh;
    grid-area: sh;

    display: flex;
    justify-content: center;
}

.cocktails {
    background-color: #F9F7F2;
    width: 80vw;
    height: fit-content;
    grid-area: cs;

    display: flex;
    align-items: center;
}

.story {
    background-color: #F9F7F2;
    width: 80vw;
    height: fit-content;
    grid-area: sy;
}

.contact {
    background-color: #F9F7F2;
    width: 80vw;
    height: 100vh;
    grid-area: ct; 

    display: grid;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #F9F7F2;
    grid-area: fr;
    width: 80vw;
    height: 10vh;
}

.aside-right {
    grid-area: ar;
    background-color: #F9F7F2;
}

/* Navigation */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    list-style-type: none;
}

/* Home */

.packshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.packshot img {
    max-width: 60vw;
    height: auto;
}

/* Shop */

#shop-anchor {
    height: fit-content;
}

.shop-wrapper {
    display: grid;
    grid-template: repeat(4, auto) / auto auto;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "t pic"
        "i pic"
        "p pic"
        "b pic";
}

.product-title {
    grid-area: t;
    margin-top: 150px;
}

.product-info {
    grid-area: i;
}

.product-price {
    grid-area: p;
}

.buy-button {
    grid-area: b;
    justify-self: center;
    height: fit-content;
}

.product-img {
    grid-area: pic;

    display: flex;
    align-items: center;
}

.product-img img {
    width: 30vw;
    height: auto;
}

/* Cocktails */

.cocktails-wrapper {
    align-content: center;
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template: repeat(2, minmax(0, 1fr)) / repeat(3, minmax(0, auto));
    justify-content: center;
    gap: 30px;

    width: 100%;
    height: auto;
}

.cocktails-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

/* Story */

.story-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    gap: 150px 60px;
    justify-content: center;
    align-items: center;
}

.story-wrapper video {
    max-width: 100%;
    max-height: auto;
}

.story-wrapper img {
    max-width: 100%;
    max-height: auto;
}

/* Contact */

form {
    max-height: 70%;
    width: 60vw;
}

input {
    border: solid 1px rgb(56, 56, 56);
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 10px;
    background-color: #F9F7F2;
}

input:focus {
    outline-width: 0;
}

textarea {
    border: solid 1px rgb(56, 56, 56);
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    background-color: #F9F7F2;
}

textarea:focus {
    outline-width: 0;
}

.contact-title {
    margin-top: 100px;
    height: fit-content;
}

.contact-form {
    display: grid;
    margin-top: 50px;
    grid-template: repeat(3, auto) 60px / repeat(2, auto);
    gap: 20px;
   
}

.contact-message {
    grid-column: span 2;
}

.contact-submit {
    grid-column: 1 / -1;
    align-content: center;
    width: 10vw;
    justify-self: center;
    margin-top: 20px;
    background-color: #F9F7F2;
}

/* Footer */

footer ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;

    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer li {
    display: flex;
    align-items: center;
}

/* Media queries */

@media (max-width: 1050px) and (orientation: portrait) {

/* Mobile Main elements */

button:hover {
    background-color: #000;
    color: white;
}

/* Mobile Master grid layout */                                                                               
                                                                        
.wrapper {
    display: grid;
    grid-template: auto repeat(5, 1fr) auto / auto
    grid-template-areas: 
        "nv"
        "he"
        "sh"
        "cs"
        "sy"
        "ct"
        "fr"    
    ;
    gap: 0;
}

.home {
    background-color: #F9F7F2;
    height: 90vh;
    grid-area: he;

    display: flex;
    justify-content: center;
    align-items: center;
}

.packshot {
    width: 80vw;
    height: auto;
}

.shop {
    background-color: #F9F7F2;
    height: 100vh;
    grid-area: sh;

    display: flex;
    align-items: flex-start;
}

.cocktails {
    background-color: #F9F7F2;
    height: fit-content;
    grid-area: cs;

    display: flex;
    align-items: center;
}

/* Mobile Shop */

.shop-wrapper {
    display: grid;
    grid-template: repeat(4, auto) / auto auto;
    justify-content: center;
    grid-template-areas: 
        "t t"
        "i b"
        "p p"
        "pic pic";
    gap: 60px;

    height: 100vh;
}

.product-title {
    grid-area: t;
    height: fit-content;
}

.product-info {
    grid-area: i;
}

.product-price {
    grid-area: p;
}

.buy-button {
    grid-area: b;
    width: 110px;
    height: auto;
    font-size: 1.8em;
}

.buy-button button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    word-wrap: break-word;
}

.product-img {
    display: flex;
    justify-content: center;
}

.product-img img {
    width: 50vw;
    height: auto;
}

/* Mobile Cocktails */

/* Cocktails */

.cocktails-wrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    height: fit-content;
}

.cocktails-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

/* Mobile Story */

.story-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-image2 {
    order: 3;
}

.story-text2 {
    order: 4;
}

.story-wrapper video {
    width: 100%;
    max-height: auto;
}

.story-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

/* Mobile Contact */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

form {
    width: 80vw;
}

input {
    border: solid 1px rgb(56, 56, 56);
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 10px;
    background-color: #F9F7F2;
    height: 10%;
}

input:focus {
    outline-width: 0;
}

textarea {
    border: solid 1px rgb(56, 56, 56);
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    background-color: #F9F7F2;
}

.contact-message {
    height: 100%;
}

.contact-submit {
    align-self: center;
    width: 15vw;
    margin-top: 20px;
    background-color: #F9F7F2;
}

.contact-title {
    margin: 0;
    height: fit-content;
    font-size: 2em;
}

}

@media (max-width: 1050px) and (orientation: landscape) {

    .shop-wrapper {
        gap: 25px;;
    }
    
    .contact {
        height: fit-content;
    }

    .contact form {
        height: 130vh;
    }

    .contact input {
        font-size: 1em;
    }

    .contact-submit {
        font-size: 1em;
        height: 10vh;
    }

    .cocktails {
        width: 80vw;
        height: fit-content;
    }

    .cocktails-wrapper {
        width: 100%;
        height: auto;

        margin: 40px 0px 40px 0px;
    }

}